


#obfuscator {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 50;
    opacity: 0.5;
    background-color: slategrey;
    display: none;
}