@import "./index.css";

body{
background-image: url('../IMAGES/pexels-donald-tong-109669.jpg');
 background-attachment: fixed;
 background-size: 100% 100%;

}

h2{
font-family: Informal Roman;
font-size: 40px;
color:  #deb887;
text-align: center;
font-weight: bold;
margin-top: 28px;
}

p{
font-family: Calibri;
font-size:16px;
font-weight: bold;
}

h3{
font-family: Goudy Old Style;
font-size:24px;
margin-top: 15px;
color: #a52a2a;
padding-bottom: 2em;
}

li a:active{
color: yellow;
}


/*sezioni */

#barra {
background-color:#deb887; 
border: 3px solid  #a52a2a; 	
border-radius: 5px; 
margin-top: 30px; 
margin-left: 25px; 
margin-right: 25px;
font-family: Calibri; 
font-size: 20px;
}

#log{
top: 10em;
 position: absolute;
  left: 57em;
  
	font-family: Calibri;
	font-size: 20px;
	height: 6.5vh;
	background-color: 	#deb887;
	border: 3px solid  #a52a2a;
	border-radius: 5px;
	width: 15vw;
	color: #8f001d;
	padding-left: 25px;

}

#registro{
position: absolute;
left:2em;
top: 15em;
font-size: 15px;
width: 45em;
height: 33em;
background-color:  	#deb887;
border-radius: 5px;
text-align: left;
padding: 2em 2em;
	border: 3px solid  #a52a2a;
}

#accedi{
position: absolute;
left: 2em;
top: 15em;
font-size: 15px;
width: 35em;
height: 34em;
background-color:  	#deb887;
border-radius: 5px;
	border: 3px solid  #a52a2a;
text-align: left;
padding: 2em 2em 2em 2em;
}

#prenota{

position: absolute;
left:30px;
top: 13em;
font-size: 15px;
width: 80vw;
 height: 80vh;
background-color:  	#deb887;
border-radius: 5px;
text-align: left;
padding: 2em 2em 2em 2em;
border: 3px solid  #a52a2a;
}


#teatro{
position: absolute;
background-color:  	#deb887;
border: 3px solid  #a52a2a;
left: 1em;
top: 13em;
border-radius: 5px;
padding-left: 2em;
 width: 71vw;
   margin-left: 10px;
    height: 25vh;

}

#stagione{
position: absolute;
width:60em;
height: 26em;
background-color:#deb887;
border: 3px solid  #a52a2a;
left: 2em;
top: 25em;
border-radius: 5px;
text-align: left;
padding-left: 2em;
}


#strada{
position: absolute;
width:60em;
height: 17em;
background-color:#deb887;
border: 3px solid  #a52a2a;
left: 2em;
top: 56em;
border-radius: 5px;
text-align: left;
padding-left: 2em;
}


#contatto{
position: absolute;
width:60em;
height: 17em;
background-color:#deb887;
border: 3px solid  #a52a2a;
left: 2em;
top: 15em;
border-radius: 5px;
text-align: left;
padding-left: 2em;
}


#s20{
position: absolute;
width:60em;
height: 30em;
background-color:#deb887;
border: 3px solid  #a52a2a;
left: 2em;
top: 15em;
border-radius: 5px;
text-align: left;
padding-left: 2em;

}

#s19{
position: absolute;
width:60vw;
height: 73vh;
background-color:#deb887;
border: 3px solid  #a52a2a;
left: 2em;
top: 15em;
border-radius: 5px;
text-align: left;
padding-left: 2em;

}

#s18{
position: absolute;
width:60vw;
height: 73vh;
background-color:#deb887;
border: 3px solid  #a52a2a;
left: 2em;
top: 15em;
border-radius: 5px;
text-align: left;
padding-left: 2em;

}

#s17{
position: absolute;
width:60vw;
height: 73vh;
background-color:#deb887;
border: 3px solid  #a52a2a;
left: 1.5em;
top: 15em;
border-radius: 5px;
text-align: left;
padding-left: 2em;

}


#s1{
position: absolute;
width:60vw;
height: 43vh;
background-color:#deb887;
border: 3px solid  #a52a2a;
left: 2em;
top: 32em;
border-radius: 5px;
text-align: left;
padding-left: 2em;

}

#s2{
position: absolute;
width:60vw;
height: 43vh;
background-color:#deb887;
border: 3px solid  #a52a2a;
left: 2em;
top: 53em;
border-radius: 5px;
text-align: left;
padding-left: 2em;

}

#s3{
position: absolute;
width:60vw;
height: 43vh;
background-color:#deb887;
border: 3px solid  #a52a2a;
left: 2em;
top: 75em;
border-radius: 5px;
text-align: left;
padding-left: 2em;

}

#offusco{
display: none;
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
min-height: 100%;
min-width: 100%;
background-color: #deb887;
opacity: 0.5;
z-index: 50;
display: none;
}

#apri{
padding: 5px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  position: absolute;
  left: 56em;
  top: 17em;
  z-index: 50;
}

#modal{
display: none;
 position: fxed;
 z-index: 100;
 padding-left: 50px;
  padding-right: 50px;
 top: 35%;
 left: 30%;
 overflow: auto;
 height: 38vh;
 width: 35vw;
 background-color: #deb887;
 border: 2px solid #a52a2a;
 border-radius: 5px;

 }

 #email{
 border: 2px solid red; 
 border-radius: 5px;
 }
 
  #password{
 border: 2px solid red;
  border-radius: 5px;
 }
 
 
/* Immagini */

img#copy{
width: 1em;
height: 1em;
left: 2em;
}


img#carmen{
width: 15em;
height: 9em;
float: left;
left: 2em;
margin: 2em 2em;
}

img#shake{
width: 15em;
height: 9em;
float: left;
margin-right: 2em;
}

img#carol{
width: 15em;
height: 9em;
float: left;
margin-right: 2em;
top: 34em;
}

img#pirate{
width: 15em;
height: 9em;
float: left;
margin-right: 2em;
top: 54em;
}

img#freccia{
position: absolute;
width: 5em;
height: 3em;
top: 2em;
left: 45em;
}


/*menù*/

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100%;
	
}

a{
text-decoration: none;
}

.elenco{
display: flex;
position: absolute;
width:15em;
background-color:#deb887;
padding: 0.5em 0.5em 0.5em 0.5em;
border: 3px solid  #a52a2a;
left: 1.6em;
border-radius: 5px;
font-size: 13pt;
 max-height: 100%;
margin-top: 15px;
}

ul{
list-style-type:square;
}

#menu ul{
    margin-top: 30px;
	margin-left: 25px;
	font-family: Calibri;
	font-size: 20px;
	color:  #a52a2a;
	height: 2em;
	background-color:#ffa500 ;
	border: 3px solid  #a52a2a;
	border-radius: 5px;
	height: 2em;
	width: 40em;

}

#menu li{
	display: inline;
	padding: 0 1.8em;	
} 

#menu a{
	text-decoration: none;
	color: #8f001d;	
 }

#menu li a:hover{
	color: #1717e3;

    } 
	  